@tailwind base;
@tailwind components;
@tailwind utilities;

.todo {
  background-color: rgba(0, 0, 0, 0.4);
}

html,
body,
#root {
  background-color: #2d2d37;
  @apply text-white box-border;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-horizontal {
  height: 2px;
}
::-webkit-scrollbar-thumb {
  @apply bg-rose-900 rounded-xl;
}
.task > ::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
.task > ::-webkit-scrollbar-thumb {
  @apply bg-sky-500;
}
